version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore"
    groups:
      # Any updates not caught by the group config will get individual PRs
      gha-low-risk:
        update-types:
          - "minor"
          - "patch"
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore"
    ignore:
      # Handled separately by its own workflow
      - dependency-name: "axe-core"
    groups:
      # Any updates not caught by the group config will get individual PRs
      npm-low-risk:
        update-types:
          - "minor"
          - "patch"
    cooldown:
      default-days: 7

  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore"
    ignore:
      # TODO: https://github.com/dequelabs/axe-core-maven-html/issues/378
      - dependency-name: "org.seleniumhq.selenium:selenium-java"
        versions: [">=4.14.0"]
    groups:
      # Any updates not caught by the group config will get individual PRs
      maven-low-risk:
        update-types:
          - "minor"
          - "patch"
    cooldown:
      default-days: 7
