version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.2.4

defaults: &defaults
  docker:
    - image: cimg/openjdk:8.0-browsers
  working_directory: ~/axe-core-maven-html

jobs:
  # fetch and cache npm dependencies
  dependencies_npm:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: npm-v1-deps-{{ checksum "package-lock.json" }}-{{ checksum "selenium/package-lock.json" }}-{{ checksum "playwright/package-lock.json" }}
      - run: npm ci
      - run: npm --prefix=selenium ci
      - run: npm --prefix=playwright ci
      - save_cache:
          key: npm-v1-deps-{{ checksum "package-lock.json" }}-{{ checksum "selenium/package-lock.json" }}-{{ checksum "playwright/package-lock.json" }}
          paths:
            - node_modules
            - selenium/node_modules
            - playwright/node_modules

  check_licenses:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: npm-v1-deps-{{ checksum "package-lock.json" }}-{{ checksum "selenium/package-lock.json" }}-{{ checksum "playwright/package-lock.json" }}
      - run: mvn license:add-third-party
      - run:
          name: Selenium Licenses
          command: node .circleci/license-check.js selenium/target/generated-sources/license/THIRD-PARTY.txt
      - run:
          name: Playwright Licenses
          command: node .circleci/license-check.js playwright/target/generated-sources/license/THIRD-PARTY.txt

  selenium:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: npm-v1-deps-{{ checksum "package-lock.json" }}-{{ checksum "selenium/package-lock.json" }}-{{ checksum "playwright/package-lock.json" }}
      - run: sudo apt update && sudo apt install python2
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
            google-chrome --version
            chromedriver --version
      - run: mvn clean install -DskipTests
      - run:
          command: node selenium/src/test/resources/test-app.js
          background: true
      - run:
          command: cd selenium/node_modules/axe-test-fixtures/fixtures && python2 -m SimpleHTTPServer 8001
          background: true

      - run: sleep 5 # sleep to allow the server some time to boot
      # run only selenium tests in this job
      - run: mvn test -pl selenium

  playwright:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: npm-v1-deps-{{ checksum "package-lock.json" }}-{{ checksum "selenium/package-lock.json" }}-{{ checksum "playwright/package-lock.json" }}
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
            google-chrome --version
            chromedriver --version
      - run: mvn clean install -DskipTests
      # start the test fixture server
      - run:
          name: Start test fixture server
          command: cd playwright && npm start
          background: true
      # run only playwright tests in this job
      - run: mvn test -q -pl playwright

  snapshot_release:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: npm-v1-deps-{{ checksum "package-lock.json" }}-{{ checksum "selenium/package-lock.json" }}-{{ checksum "playwright/package-lock.json" }}
      - run: mvn clean install -DskipTests
      - run: echo "$GPG_PRIVATE_KEY" | base64 --decode | gpg --import
      - run: echo "default-key 7701193A898A849383D3E8B49F8AFEACBF07F7C4" > ~/.gnupg/gpg.conf
      - run: sudo apt update && sudo apt install python3
      - run: python .circleci/snapshot.py
      - run: .circleci/publish.sh

  release:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: npm-v1-deps-{{ checksum "package-lock.json" }}-{{ checksum "selenium/package-lock.json" }}-{{ checksum "playwright/package-lock.json" }}
      - run: mvn clean install -DskipTests
      - run: echo "$GPG_PRIVATE_KEY" | base64 --decode | gpg --import
      - run: echo "default-key 7701193A898A849383D3E8B49F8AFEACBF07F7C4" > ~/.gnupg/gpg.conf
      - run: .circleci/publish.sh

  github_release:
    docker:
      - image: cimg/go:1.17.8
    steps:
      - checkout
      - run: go get gopkg.in/aktau/github-release.v0
      - run:
          name: Download and run GitHub release script
          command: |
            curl https://raw.githubusercontent.com/dequelabs/attest-release-scripts/develop/src/java-github-release.sh -s -o ./java-github-release.sh
            chmod +x ./java-github-release.sh
            ./java-github-release.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - dependencies_npm
      - check_licenses:
          requires:
            - dependencies_npm
      - selenium:
          requires:
            - dependencies_npm
      - playwright:
          requires:
            - dependencies_npm
      - snapshot_release:
          context: html-tools
          requires:
            - dependencies_npm
            - selenium
            - playwright
          filters:
            branches:
              only: ci/fix-snapshot
      - release:
          context: html-tools
          requires:
            - dependencies_npm
            - selenium
            - playwright
          filters:
            branches:
              only: master
      - github_release:
          context: html-tools
          requires:
            - release
