name: Sync master/develop branches

on:
  pull_request:
    branches: master
    types: closed
    
jobs:
  create_sync_pull_request:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: dequelabs/action-sync-branches@v1.0.1
        with:
          github-token: ${{ secrets.PAT }}
          pr-title: "chore: merge master into develop"
          pr-team-reviewers: axe-api-team
          pr-labels: chore
          pr-template: .github/PULL_REQUEST_TEMPLATE.md
